.home-button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;

  cursor: pointer;
  background-color: rgba(174, 181, 185, 0.5);
  border: 0;
  border-radius: 0.5rem;

  animation: fade-in 0.5s;
}

.home-button svg {
  width: auto;
  height: 40%;

  pointer-events: none;
  fill: #fff;
}
