.language-button {
  position: relative;
  overflow: hidden;
  height: 45px;

  background-color: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
}

.language-button__select {
  height: 100%;
  padding: 0 15px;
  padding-right: 35px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: inherit;

  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none;
}

.language-button__arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;

  pointer-events: none;
  background-image: url('../../../public/assets/arrow-down.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transform: translateY(-50%);
  transition: transform 0.2s;
}

.language-button__select option {
  background-color: #86c3db;
}
