.current-weather,
.current-weather__temp-wrapper,
.current-weather__description,
.current-weather__wind {
  display: flex;
}

.current-weather__temp-wrapper,
.current-weather__description {
  align-items: flex-end;
}

.current-weather__temp {
  align-self: flex-end;

  font-size: 240px;
  font-weight: 700;
  line-height: 240px;
}

.current-weather__uv {
  height: 240px;
  margin-left: -10px;
}

.current-weather__uv-icon {
  align-self: center;
  width: 60px;
  height: 60px;
}

.current-weather__main-icon {
  display: block;
  width: 200px;
  height: 200px;
}

.current-weather__wrapper {
  width: 350px;
  margin-top: -60px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.current-weather__description {
  min-height: 50px;
  margin-bottom: 10px;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.current-weather__feels,
.current-weather__humidity {
  margin-bottom: 5px;
}

.current-weather__wind-icon {
  width: 40px;
  height: 40px;
  margin-top: -8px;
}
