.hourly-forecast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 75rem;
  padding: 1.5rem 0;

  font-size: 1.6rem;
  list-style: none;

  border-top: 0.1rem solid rgba(76, 82, 85, 0.4);
  border-bottom: 0.1rem solid rgba(76, 82, 85, 0.4);
}

.hourly-forecast__item {
  text-align: center;
}

.hourly-forecast__icon {
  display: block;
  width: 5rem;
  height: 5rem;
}
