.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #86c3db;

  background-color: #fff;
}

.preloader svg {
  width: 20rem;
  height: 20rem;
}

.preloader__greeting {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.preloader__api {
  font-size: 1.6rem;
}

.dark.preloader {
  color: #fff;
  background-color: #000;
}
