.search {
  display: flex;
  height: 45px;
}

.search,
.search__button {
  position: relative;
}

.search__home-button {
  margin-right: 10px;
}

.search__wrapper {
  padding-left: 15px;

  background-color: rgba(76, 82, 85, 0.4);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-right: 0;
}

.search__input,
.search__button {
  font-family: inherit;
  font-size: 16px;

  border: 0;
}

.search__input,
.search__button,
.search__input::placeholder {
  color: inherit;
}

.search__input {
  width: 150px;
  height: 100%;

  font-weight: inherit;

  background-color: transparent;
  outline: none;
}

.search__button {
  overflow: hidden;
  padding: 0 15px;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;

  cursor: pointer;
  background-color: rgba(174, 181, 185, 0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search__loading,
.search__error {
  position: absolute;
  top: 45px;
  left: 0;

  font-size: 14px;
  color: #86c3db;
}
