.daily-forecast,
.daily-forecast__description-wrapper {
  display: flex;
}

.daily-forecast {
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 75rem;

  list-style: none;
}

.daily-forecast__item {
  text-align: center;
}

.daily-forecast__day {
  margin-bottom: 0.5rem;

  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.daily-forecast__description-wrapper {
  align-items: center;
  justify-content: center;
}

.daily-forecast__thermometer,
.daily-forecast__icon {
  display: block;
  width: 5rem;
  height: 5rem;
}

.daily-forecast__temp {
  margin-left: -1rem;
  font-size: 200%;
}

.daily-forecast__icon {
  align-self: flex-start;
  margin-top: -1.5rem;
  margin-left: -0.5rem;
}
