.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #86c3db;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  min-width: 48rem;
  max-width: 144rem;
  min-height: 100vh;
  padding: 2rem;
  margin: 0 auto;

  font-family: Montserrat, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('../public/assets/init-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;

  transition: background-image 0.5s;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

/* ### JS ONLY ### */
.ripple-circle {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 50%;
  top: 50%;

  background-color: #fff;
  border-radius: 50%;

  transform: translate(-50%, -50%) scale(0);
  animation: ripple 1s;
}
