.map {
  animation: fade-in 1s;
}

.map__container,
.map__container::after {
  border-radius: 50%;
}

.map__container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-bottom: 30px;

  background-color: #59c5eb;
}

.map__container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  content: '';
  box-shadow: inset 100px 0 50px 0px rgba(0, 0, 0, 0.6);
  transform: scale(-1, 1);
}

.map__coords {
  text-align: right;
}

.map__easter-egg .mapboxgl-popup-content,
.map__easter-egg .mapboxgl-popup-close-button {
  color: #fff;
}

.map__easter-egg .mapboxgl-popup-content {
  padding: 15px;

  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 12px;

  background-color: #ef4444;
  border-radius: 5px;
}

.map__easter-egg.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.map__easter-egg.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.map__easter-egg.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: #ef4444;
}

.map__easter-egg.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #ef4444;
}

.map__easter-egg.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.map__easter-egg.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.map__easter-egg.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #ef4444;
}

.map__easter-egg.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #ef4444;
}

.map__easter-egg .mapboxgl-popup-close-button {
  width: 20px;
  height: 20px;

  font-size: 20px;
}
