.background-button {
  position: relative;
  overflow: hidden;
  width: 4.5rem;
  height: 4.5rem;

  cursor: pointer;
  background-color: rgba(76, 82, 85, 0.4);
  background-image: url('../../../public/assets/refresh.svg'),
    url('../../../public/assets/bg-button.svg');
  background-size: auto 40%, cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0.5rem;
}
